<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.talosfleet.tarbackup.test</string>
	<key>OnDemand</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/arandall/scripting/tarbackup/tarbackup.sh</string>
		<string>-v</string>
		<string>4</string>
		<string>-f</string>
		<string>/var/log/tarbuckuptest.log</string>
		<string>/Users/arandall/Desktop/mook</string>
		<string>/Users/arandall/Desktop/butest</string>
		<string>36</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>15</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>6</integer>
	</dict>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>
